@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)

  @Html.LabelFor(model => model.Stylist)

  @Html.DropDownListFor(model => model.StylistId, new SelectList(ViewBag.StylistList, "Value", "Text"), "Choose stylist")


  <input type="submit" value="Add new client" />
} 
<p>@Html.ActionLink("List of clients", "Index")</p>